@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- footer area start-->
<footer>
    <div class="footer-area">
        <a asp-controller="Accounts" asp-action="Logout" type="button" class="btn btn-rounded btn-info">Log Out</a>
    </div>
</footer>
<!-- footer area end-->