@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- footer area start-->
<footer>
    <div class="footer-area">
        @* <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p> *@
    </div>
</footer>
<!-- footer area end-->