@* Footer for Student Users *@
<footer>
    <div class="footer-area">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">
                    <a asp-controller="Accounts" asp-action="Logout" type="button" class="btn btn-rounded btn-info">Log Out</a>
                </p>
            </div>
        </div>
    </div>
</footer>
