
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form asp-controller="Accounts" asp-action="ChangePassword">
                <div class="login-form-head">
                    <h4>Reset Password</h4>
                    <p>Hey! Reset Your Password and comeback again</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="OldPassword">Old Password</label>
                        <input type="password" name="OldPassword">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="form-gp">
                        <label for="NewPassword">New Password</label>
                        <input type="password" name="NewPassword">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="form-gp">
                        <label for="ConfirmPassword">Confirm New Password</label>
                        <input type="password" name="ConfirmPassword">
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

