@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" id="login-form" asp-controller="Accounts" asp-action="ForgotPassword">
                <span class="login100-form-title p-b-49">
                    <h4>Forgot Password</h4>
                    <p>Hey! Forgot Password Your Password ? Reset Now</p>
                </span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-b-23" data-validate="Email is reauired">
                    <span class="label-input100">Email</span>
                    <input name="email" type="text" class="input100" placeholder="Type your email">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" name="login-submit" id="login-submit" class="login100-form-btn">
                            Reset
                        </button>
                    </div>
                </div>
                <div class="flex-col-c p-t-155">
                    <a asp-controller="Accounts" asp-action="Login" class="txt2">
                        Back to login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>